body {
  padding: 10px;
  margin: 0px;
	background-color: #161613;
	color: #d0eb6a;
  font-size: 8pt;
}

div.topborder {	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #c0db5a;
}

div.pictures a.picture {
	background-color: #333;
	border: 1px solid #444; 
	padding: 10px;
  margin: 3px;
  text-align: center;
  display: block;
  float: left;
	cursor: -moz-zoom-in;
}

div.pictures a.quickdownload {
  float: left; 
}

div.pictures a.picture:focus {
  color: #1a1a1a;
  background-color: #ffcc33;  
}

div.pictures div {
  border: none;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 160px;
}

div.pictures a.picture:hover {
	background-color: #555;
	border: 1px solid #777;
}

