body {
  padding: 10px;
  margin: 0px;
	background-color: #161613;
	color: #eee;
  font-size: 8pt;
}

img {
  border: none;
}

a {
	display: block;
	padding: 5px;
	margin-bottom: 3px;
	color: #eee;
	background-color: #363633;
	text-decoration: none;
	overflow: hidden;
}

a:hover {
	color: #1a1a1a;
	background-color: #d0eb6a;
}

a:focus {
  color: #1a1a1a;
  background-color: #ffcc33;  
}	

div.topborder {	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #c0db5a;
}
