<a class="picture" name="{filetitle}" href="pefembeddedjpeg.php5?foldername={foldername}&filetitle={filetitle}&version=medium&orientation{extraparams}" rel="lightbox[{foldername}]" title="&lt;h3&gt;{filetitle}&lt;/h3&gt;&lt;a href=&quot;pefembeddedjpeg.php5?foldername={foldername}&amp;filetitle={filetitle}&amp;version=medium&amp;download&amp;orientation&quot;&gt;Diese Version herunterladen ...&lt;/a&gt;&lt;br /&gt;&lt;a href=&quot;pefembeddedjpeg.php5?foldername={foldername}&amp;filetitle={filetitle}&amp;version=large&amp;download&amp;orientation&quot;&gt;Gr&ouml;&szlig;ere Version herunterladen ...&lt;/a&gt;&lt;br /&gt;&lt;br /&gt;Neu orientieren: &lt;a href=&quot;rotatepef.php5?foldername={foldername}&amp;filetitle={filetitle}&amp;goto=content.php5%3Ffoldername%3D{foldername}%26expired%23{filetitle}&amp;orientation=lr&quot;&gt;Links&lt;/a&gt;, &lt;a href=&quot;rotatepef.php5?foldername={foldername}&amp;filetitle={filetitle}&amp;goto=content.php5%3Ffoldername%3D{foldername}%26expired%23{filetitle}&amp;orientation=rl&quot;&gt;Rechts&lt;/a&gt; ist Oben">
  <div class="asyncRotatePef" style="background: url('pefembeddedjpeg.php5?foldername={foldername}&amp;filetitle={filetitle}&amp;version=small&amp;orientation{extraparamsamp}') center center no-repeat;"></div>
</a>
<a class="quickdownload" href="pefembeddedjpeg.php5?foldername={foldername}&filetitle={filetitle}&version=large&download">QuickDown</a>
